.popup[data-v-fd3d05d8]{margin-top:1rem;text-align:center}.btn-container[data-v-fd3d05d8]{margin-top:1rem;display:flex;justify-content:center}.btn-container[data-v-fd3d05d8]>*{flex:1;max-width:100px}
